
<!DOCTYPE html>
<html>

<body background=" https://images.unsplash.com/photo-1466690672306-5f92132f7248?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=2d2875a29b54a8de7645a7f75000ea8f">
<!--Other images you could use
    https://images.unsplash.com/photo-1466690672306-5f92132f7248?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=2d2875a29b54a8de7645a7f75000ea8f
    https://images.unsplash.com/photo-1437419764061-2473afe69fc2?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=76fba3bdb1e04cb26a02000be2fe7740f
     https://images.unsplash.com/photo-1466027397211-20d0f2449a3f?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=1fd132f72e46fa18c6676d0f9dd9b1a2
-->

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  </head>

  <div class="navcircle">
    <nav class="ss-icon closed" tabindex="0">
      <span id="center-bar"></span>
      <a href="#">Ello</a>
      <a href="https://github.com/maryhowell">Github</a>
      <a href="#">Instagram</a>
      <a href="#">Google+</a>
      <a href="https://www.linkedin.com/in/mary-howell-13200067">LinkedIn</a>
      <!-- Ello -->
    </nav>
  </div>

  <!-- container  -->
  <div class="name">
    <h1>Mary Howell</h1>
    <!--my image here  -->
  </div>

  <section id="aboutme">
    <div class="container">
      <h2 class="h2">ABOUT ME</h2>
      <img src="https://c2.staticflickr.com/8/7791/27987580216_0799cbc76a_n.jpg">
      <h3>I am an aspiring web developer interested in Ruby on Rails, technology, and web design. <br>
        Besides these interests, I love watch movies, knit, sew and read.<br>
        take a look into my life
      </h3>
      <div id="instafeed" class="instafeed"></div>
    </div>
  </section>

<!--skill set  -->

<section class="skills-section bg-light padding-sm" id="skills">
  <div class="container">
      <h2 class="center">Skills</h2>
      <div class="skills-bar-container">
        <ul>
          <label>Ruby</label>
          <span class="percent" id="html-percent"></span>
          <li>
            <span class="progressbar progressred" id="progress-html"></span>
          </li>

          <label>CSS3</label>
          <span class="percent" id="css-percent"></span>
          <li>
            <span class="progressbar progressred" id="progress-css"></span>
          </li>

          <label>Javascript / jQuery</label>
          <span class="percent" id="javascript-percent"></span>
          <li>
            <span class="progressbar progressred" id="progress-javascript"></span>
          </li>

          <label>Git</label>
          <span class="percent" id="git-percent"></span>
          <li>
            <span class="progressbar progressred" id="progress-git"></span>
          </li>


        </ul>
      </div>
  </div>
</section>

<!--git repo info  -->

</body>
</html>
