
<!DOCTYPE html>
<html>
<body>

  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  </head>

  <nav class="ss-icon closed" tabindex="0">
    <span id="center-bar"></span>
    <a href="#">LinkedIn</a>
    <a href="#">Facebook</a>
    <a href="#">Instagram</a>
    <a href="#">Github</a>
    <a href="#">Ello</a>
  </nav>


</body>
</html>
