
<!DOCTYPE html>
  <html>
    <body background="https://images.unsplash.com/photo-1466027397211-20d0f2449a3f?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=1fd132f72e46fa18c6676d0f9dd9b1a2">
      <!--Other images you could use
      https://images.unsplash.com/photo-1466690672306-5f92132f7248?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=2d2875a29b54a8de7645a7f75000ea8f
      https://images.unsplash.com/photo-1437419764061-2473afe69fc2?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=76fba3bdb1e04cb26a02000be2fe7740f
      https://images.unsplash.com/photo-1446051642017-6d07a440087f?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=6ff2485a460057d65426d6f3fe2bd8c2
      https://images.unsplash.com/photo-1466027397211-20d0f2449a3f?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=1fd132f72e46fa18c6676d0f9dd9b1a2
    -->
      <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <link href='//fonts.googleapis.com/css?family=Josefin+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
      </head>


        <div class="navcircle">
          <nav class="ss-icon closed" tabindex="0">
            <span id="center-bar"></span>
            <a href="#">Ello</a>
            <a href="https://github.com/maryhowell">Github</a>
            <a href="#">Instagram</a>
            <a href="#">Google+</a>
            <a href="https://www.linkedin.com/in/mary-howell-13200067">LinkedIn</a>
            <!-- Ello -->
          </nav>
        </div>

<!-- container home loading page -->
        <div id="home" class="name">
          <h1>Mary Howell</h1>
        </div>

        <div class="shortdescript">
          <p>I am a junior Ruby developer with a love for textiles</p>
        </div>

      <!-- <div class="profilepic">
        <img src="https://c2.staticflickr.com/8/7791/27987580216_0799cbc76a_n.jpg">
      </div> -->

      <section id="aboutme">
    		<div class="container">
    			<div class="row">
    				<div class="col-lg-12 text-center">
    					<h2 class="h2">ABOUT ME</h2>
    					<h3>I am an aspiring web developer interested in programming, technology, and front end degsing.
                  Besides these interests, I love to sew, watch movies & knit, and drink tea.</h3>
    				</div>
    			</div>
    		</div>
    	</section>


    </body>
  </html>
