
<!DOCTYPE html>
<html>
<body>

  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  </head>
  <div class="navcircle">
    <nav class="ss-icon closed" tabindex="0">
      <span id="center-bar"></span>
      <a href="#">Ello</a>
      <a href="https://github.com/maryhowell">Github</a>
      <a href="#">Instagram</a>
      <a href="#">Google+</a>
      <a href="https://www.linkedin.com/in/mary-howell-13200067">LinkedIn</a>
      <!-- Ello -->
    </nav>
  </div>


</body>
</html>
