<!-- <body class="profile">
  <header>
    <div class="nav">
      <ul>
        <li class="home"><a href="#">Home</a></li>
        <li class="resume"><a class="active" href="#">Resume</a></li>
        <li class="about"><a href="#">About Me</a></li>
        <li class="contact"><a href="#">Contact</a></li>
      </ul>
    </div>
  </header>
</body> -->
<!DOCTYPE html>
<html>
<body>

  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  </head>

  <nav class="ss-icon closed" tabindex="0">
    <span id="center-bar"></span>
    <a href="#">Twitter</a>
    <a href="#">Facebook</a>
    <a href="#">Pinterest</a>
    <a href="#">Google+</a>
    <a href="#">Ello</a>
  </nav>


</body>
</html>
