/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*@font-face {
   font-family: "Josefin Sans", helvetica;
   src: url('http://fonts.googleapis.com/css?family=Josefin+Sans&subset=latin,latin-ext');
   font-weight:normal;
   font-style: normal;

 }*/

 body {
   background-size: cover;
   background-repeat: no-repeat;
 }

 .name {
   position: relative;
   color:white;
   font-family: helvetica;
   top: 20px;
   left: 950px;
 }

 #aboutme {
 	height: 170vh;
 	padding-top: 50px;
 	text-align: center;
 	background: #f7f7f7;
 	position: relative;
 	top: 943px;
  opacity: 0.9;
 }

h2 {
   font-family: helvetica;
 	letter-spacing: 12px;
 	font-size: 3em;
 	margin-bottom: 100px;
 	margin-top: 75px;
 }

 #aboutme h3 {
   font-family: helvetica;
 	line-height: 40px;
 	vertical-align: middle;
 }

 img {
   border-radius: 75px;
   opacity: 1.0;
 }


/*skill set*/

.skills-section {
	padding-bottom: 50px;
	padding-top: 953px;
}

.skills-bar-container ul {
	list-style: none;
	padding: 25px 0;
	width: 100%;
}

.skills-bar-container li {
	background: white;
	height: 5px;
	margin-bottom: 45px;
	padding-left: 0px;
	position: relative;
	width: 100%;
}

.skills-bar-container h1 {
	margin-bottom: 50px;
}

.skills-bar-container label {
	color: white;
	position: relative;
	font-size: 1.4em;
}

.skills-bar-container .percent {
	color: #1A1C1C;
	font-size: .96em;
	float: right;
}

.progressbar {
	position: absolute;
	width: 0%;
	height: 100%;
	border-radius: 5px;
	animation-duration: 2s;
	animation-timing-function: ease-out;
	animation-fill-mode: both;
}

#progress-html {
	animation-name: progress-html;
	animation-delay: .7s;
}

#progress-css {
	animation-name: progress-css;
	animation-delay: 1.4s;
}

#progress-javascript {
	animation-name: progress-javascript;
	animation-delay: 2.1s;
}

#progress-git {
	animation-name: progress-git;
	animation-delay: 2.8s;
}

label {
  font-family: helvetica;
}


.progressred {
	background-color: #7CA299;
}

@keyframes progress-html {
	0% {
		width: 0%;
	}
	100% {
		width: 60%;
	}
}

@keyframes progress-css {
	0% {
		width: 0%;
	}
	100% {
		width: 40%;
	}
}

@keyframes progress-javascript {
	0% {
		width: 0%;
	}
	100% {
		width: 45%;
	}
}

@keyframes progress-git {
	0% {
		width: 0%;
	}
	100% {
		width: 50%;
	}
}

/*git div*/
.gitactivity {
  height: 100vh;
  padding-top: 50px;
  text-align: center;
  background: #f7f7f7;
  position: relative;
  opacity: 0.9;
}



/*contact footer*/
.social {
  float:right;
  margin:24px 0;
  text-align:center;
  padding:0;
}

.social li {
  display:inline-block;
  margin:0 8px;
}

a, a:link, a:visited {
color:white;
text-decoration:none;
display:block;
}
