/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*@font-face {
   font-family: "Josefin Sans", helvetica;
   src: url('http://fonts.googleapis.com/css?family=Josefin+Sans&subset=latin,latin-ext');
   font-weight:normal;
   font-style: normal;

 }*/

 body {
   background-size: cover;
   background-repeat: no-repeat;
 }

 .name {
   position: relative;
   color:white;
   font-family: helvetica;
   top: 20px;
   left: 950px;
 }

 #aboutme {
 	height: 110vh;
 	padding-top: 50px;
 	text-align: center;
 	background: #f7f7f7;
 	position: relative;
 	top: 943px;
  opacity: 0.9;
 }

 #aboutme h2 {
   font-family: helvetica;
 	letter-spacing: 12px;
 	font-size: 3em;
 	margin-bottom: 100px;
 	margin-top: 75px;
 }

 #aboutme h3 {
   font-family: helvetica;
 	line-height: 40px;
 	vertical-align: middle;
 }

 img {
   border-radius: 75px;
   opacity: 1.0;
 }


/*other stuff*/
