/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 body {
   background-size: cover;
   background-repeat: no-repeat;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   position: relative;
 }

 .name {
   position: relative;
   color:black;
   font-family: "Josefin Sans";
   top: 20px;
   left: 1000px;
   height: 40px;
   font-size: 25px;
 }

 .shortdescript {
   position: relative;
   left: 925px;
   color:black;
   font-family: "Josefin Sans";
   top: 45px;
   font-size: 20px;
 }

 .profilepic {
   border-radius: 25px;
   position: relative;
   left:1085px;
   top: 45px;
 }

 #aboutme h2 {
 	letter-spacing: 12px;
 	font-size: 3em;
 	margin-bottom: 50px;
 	margin-top: 75px;
 }

 #aboutme {
	height: 110vh;
	padding-top: 50px;
	text-align: center;
	background: #f7f7f7;
	position: relative;
	top: 920px;
}

container {
  display: block;
  background-image: url('https://images.unsplash.com/photo-1466027397211-20d0f2449a3f?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=1fd132f72e46fa18c6676d0f9dd9b1a2');
}

img {
  padding: 20px;
}






/*other stuff*/
